* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}



.minhasHB h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 2.9em;
}



.Bem-vindo img {
    width: 100%;
    z-index: -99999999;
    object-fit: cover;
}

.minhafoto {
    display: flex;
    justify-content: end;
    margin-top: -30%;
    margin-right: 35px;
}

.minhafoto img {
    border-radius: 70%;
    width: 25%;
    z-index: 1;
    object-fit: cover;
}

.buttMeuSite {
    background-color: black;
    margin-top: 3%;
    margin-bottom: -1%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 170px 0px;
}

.buttMeuSite a {

    color: rgb(35, 35, 35);
}

.buttMeuSite button {
    border-radius: 15px;
    width: 20%;
    cursor: pointer;
    padding: 17px;
    font-size: 2.7em;
    border: none;
    color: #0d9deb;
}

.buttMeuSite button:hover {

    box-shadow: 0 0 25px #0276b4;
    transition: 0.3s ease;
    transform: scale(1.4);
}

.buttMeuSite a:hover {
    color: #0d9deb;
}


.rodape {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: rgb(255, 255, 255);
}

.informacoes a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0276b4;
}

.informacoes a:hover {
    color: #07a8ff;
}



.informacoes h4 {
    font-size: 1.9em;
    display: flex;
    align-items: center;
    margin-left: 6%;
}

section {
    padding: 8%;
    background: url(../img/fundoHacker.png);
}

.topo {
    background: rgb(255, 255, 255);
    margin-bottom: 10%;
    padding: 30px;
}

.sobremimFT {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.sobremimFT img {
    width: 39%;
    border-radius: 54%;
    object-fit: cover;
    
}

.sobremimTXT h2 {
    font-size: 2.8em;
    padding: 40px 60px;
    text-align: center;
    color: #0276b4;

}

.txtlogo {
    background: white;
    margin-bottom: 10%;
    padding: 30px;
}

.logoimg {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.logoimg img {
    width: 40%;
    object-fit: cover;
}

.sair svg {
    margin-top: -100px;
    margin-left: -65px;
}

.sair a {
    color: #ffffff;
}

.meusSites {
    display: flex;
}

.meusSites img {
    width: 100%;
    object-fit: cover;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;

}
.html svg {
    color: red !important;
}
.css svg {
    color: #0276b4;
}
.js svg{
    color: rgb(255, 236, 90) !important;
}
.php svg{
    color: #2701ff !important;
}
.sql svg {
    color: rgb(56, 164, 2) !important;
}
.jquery img {
    width: 18%;

}


.linguagem {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 48px -51px 60px 83px;
}




.MeusiteTT h1 {
    font-size: 3.9em;
    padding: 40px 60px;
    text-align: center;
    color: #ffffff;
}


.contaiter {
    position: relative;
}

.contaiter:hover .texto {
    visibility: visible;
    transition: 0.6s ease;

}

.imagem {
    width: 100%;

}

.imagem img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    margin-bottom: 70px;
    
}

.texto {
    font-size: 1.6em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    background-color: #141313;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    visibility: hidden;
    transition: 0.6s ease;
    text-align: center;
    gap: 10%;
}

.texto h1 {
    font-size: 2.3em;
    color: #0276b4;
}

.texto p {
    font-size: 1.6em;
    width: 93%;
}

.linguagemHB {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 90px;
}

.linguagemHB svg {
    color: #0276b4;

}

.verWeb a {

    background: #0276b4;
    padding: 20px 42px;
    font-size: 1.3em;
    border-radius: 20px;
    color: #ffffff;
}

.verWeb a:hover {
    box-shadow: 0 0 25px #0276b4;
    transition: 0.5s ease;
    background: #0b98e4;
}
.foote1 h4 {
    color: rgb(255, 255, 255);
    background: #086394;
    padding: 15px;
    font-size: 1.9em;
    text-align: center;
}
.footer2 h4 {
    color: #ffffff;
    background: black;
    padding: 15px;
    font-size: 1.9em;
    text-align: center;
}
