* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-image: url(../img/fundofundo.png);
    background-size: cover;
    background-attachment: fixed;
}
.imgC img{
    width: 12%;
    margin-bottom: 60px;
   
}

.Bem-vindo {
    background: white;
    opacity: .9;
}

.Bem-vindo img:nth-child(2) {
    display: none;
}

.minhasHB h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 2.9em;
}



.Bem-vindo img {
    padding: 20px 0px 40px;
    width: 90%;
    object-fit: cover;
}

.minhasHB {
    padding: 20px;
    margin-bottom: 8%;
}

.buttMeuSite {
    display: flex;
    justify-content: center;

}

.buttMeuSite a {
    color: #ffffff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
}

.buttMeuSite button {
    border: 5px solid #fdfeff !important;
    border-radius: 15px;
    width: 27%;
    cursor: pointer;
    padding: 17px;
    font-size: 2.5em;
    border: none;
    color: #0d9deb;
    background: url(../img/);
    margin-bottom: 3%;
}

.buttMeuSite button:hover {

    box-shadow: 0 0 100px #00a6ff;
    transition: 0.3s ease;
    transform: scale(1.2);
}

.buttMeuSite a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
}

.informacoes a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0276b4;
}

.informacoes a:hover {
    color: #07a8ff;
}

.todosOsCard {
    display: flex;
    justify-content: center;
}

.minha-habilidade h1 {
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
    display: flex;
    justify-content: center;
    font-size: 2.9em;
}

.box {
    margin: 10% 0px 5%;
    justify-content: center;
    display: flex;
}


.card {
    background: white;
    width: 70%;
    height: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.9;

}

.card h1 {
    margin: 20px 0px;
    font-size: 1.9em;
    color: #2997ff;
}

.card img {
    width: 35%;
}

.imagemCard {
    margin-bottom: 45px;
    width: 100%;
}

.botaomodal {
    padding: 10px;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px outset #00a6ff;
    border-radius: 10px;
    color: #00a6ff;
}

.botaomodal button:hover {
    border: 3px inset #0055ff;
    transition: 0.3s ease;
    transform: scale(1.2);
    box-shadow: 0 0 100px #00a6ff;
}








.informacoes h4 {
    font-size: 1.9em;
    display: flex;
    align-items: center;
    margin-left: 6%;
    font-family: sans-serif;

}

section {
    padding: 8%;

}

.topo {
    background: rgb(255, 255, 255);
    margin-bottom: 10%;
    padding: 30px;
}

.sobremimFT {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.sobremimFT img {
    width: 39%;
    border-radius: 54%;
    object-fit: cover;

}

.sobremimTXT h2 {
    font-size: 2.8em;
    padding: 40px 60px;
    text-align: center;
    color: #0276b4;

}

.txtlogo {
    background: white;
    margin-bottom: 10%;
    padding: 30px;
}

.logoimg {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.logoimg img {
    width: 40%;
    object-fit: cover;
}

.sair svg {
    margin-top: -100px;
    margin-left: -65px;
}

.sair a {
    color: #ffffff;
}

.meusSites {
    display: flex;
}

.meusSites img {
    width: 100%;
    object-fit: cover;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;

}

.linguagem svg {
    width: 90px;
    height: 100px;
    padding: 25px;
    color: #ffffff;
}

.linguagem svg:hover {
    transform: scale(1.2);
    box-shadow: 0 0 40px #ffffff;
    border-radius: 15px;
    transition: 0.4s ease;
    color: #ffffff;
}


.linguagem {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 45px 20%;

}




.MeusiteTT h1 {
    font-size: 3.9em;
    padding: 40px 60px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #07a8ff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
}


.contaiter {
    position: relative;
}

.contaiter:hover .texto {
    visibility: visible;
    transition: 0.6s ease;

}

.imagem {
    width: 100%;

}

.imagem img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    margin-bottom: 70px;

}

.texto {
    font-size: 1.6em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    background-color: #141313;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    visibility: hidden;
    transition: 0.6s ease;
    text-align: center;
    gap: 10%;
}

.texto h1 {
    font-size: 2.3em;
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
}

.texto p {
    font-size: 1.6em;
    width: 93%;
}

.linguagemHB {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 90px;
}

.linguagemHB svg {
    color: #0276b4;

}

.verWeb a {
    color: #ffffff;
    background: #0276b4;
    padding: 20px 42px;
    font-size: 1.3em;
    border-radius: 20px;


}

.verWeb a:hover {
    box-shadow: 0 0 25px #0276b4;
    transition: 0.5s ease;
    background: #0b98e4;
}

.pagamento {
    width: 33%;
    margin-left: 39%;
}
.pagamento a {
    border: 9px solid #ffffff;
    padding: 20px;
    font-size: 38px;
    border-radius: 20px;
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;
}
.pagamento a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 40px #ffffff;
    transition: 0.2s ease;
    color: #ffffff;
    font-size: 40px;
    border: 13px solid #ffffff;
}


.foote1 h4 {
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #07a8ff,
        0 0 70px #07a8ff,
        0 0 80px #07a8ff,
        0 0 100px #07a8ff;

    padding: 15px;
    font-size: 1.9em;
    text-align: center;
    font-family: sans-serif;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: white;
    opacity: 0.9;
}

/* modal curriculo */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 82%;
    overflow: auto;
    background-color: #10628eb8;
    margin: 45px 110px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 700px;
    max-height: 90%;
    padding: 20px;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #000dff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.5);
}

/* modal curriculo final*/


/* modal sobre mim*/
.meuModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 82%;
    overflow: auto;
    background-color: #10628eb8;
    margin: 45px 110px;
}

.meuModal-content {
   
    display: flex;
    width: 100%;
    max-width:910px;
    max-height: 90%;
    padding: 20px;

}



.meuFechar {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.meuFechar:hover,
.meuFechar:focus {
    color: #000dff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.5);
}


.fototxt {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    border: 7px double #ffffff;
}

.fototxt img {
    width: 100%;
}
.fototxt img:nth-child(2) {
    display: none;
}
/* modal sobre final*/