@media (max-width : 768px) {
    .pagamento {
        width: 54%;
        margin-left: 27%;
    }
    .imgC img {
        width: 8%;
        margin-bottom: 12px;
        margin-top: -12px;

    }
    .verWeb a {
        padding: 9px 25px;
        font-size: 1.1em;
    }
    .texto h1 {
        font-size: 2em;
        margin-top: 42px;
        margin-bottom: -37px;
    }
    .texto p {
        font-size: 1.4em;
        width: 98%;
        margin-bottom: -28px;
    }
    .minhasHB {
        padding: 0px;
        margin-bottom: 8%;
    }
    .linguagemHB {
        margin-bottom: 9px;
    }
    .linguagemHB svg {
        width: 54px;
        margin-top: -15px;
    }
    .texto {
        height:400px; 
    }
    .imagem img {
        height: 400px;
    }

    .modal {
        width: 80%;
        height: 68%;
        margin: 168px 77px;
    }
    .modal-content {
        width: 77%;
        padding: 67px;
    }

    .meuModal {
        height: 75%;
        margin: 82px 81px;
    }

    .meuModal-content {

        width: 87%;

        max-height: 90%;
        padding: 40px;
    }

    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .maps {
        display: none;
    }

    .linguagem svg {
        width: 71px;
        height: 95px;
        padding: 21px;

    }

    .buttMeuSite button {

        margin-bottom: 5%;
        width: 38%;
    }

    .card img {
        width: 55%;
    }

    .imagemCard {
        margin-bottom: 10px;

    }

    .card {
        height: 275px;
    }

    .card h1 {
        margin: 12px 0px;
        font-size: 2.3em;

    }

    .Bem-vindo img {

        width: 95%
    }

    .rodape {

        justify-content: space-around;

    }
}



/* RESPOSIVO APENAS PARA MOBILE */

/* Para celular 470px */

@media (max-width: 470px) {
    .sair svg {
        margin-top: -26px;
        margin-left: -30px;
        width: 30px;
    }

    .pagamento {
        width: 64%;
        margin-left: 20%;
    }

    .pagamento a {
        border: 8px solid #ffffff;
        padding: 17px;
        font-size: 28px;
    }

    .pagamento a:hover {
        font-size: 29px;
        border: 9px solid #ffffff;
    }

    .verWeb a {

        padding: 7px 19px;
        font-size: 1.1em;
        margin-right: 31px;
    }

    .imgC img {
        width: 12%;
        margin-bottom: 13px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .linguagemHB svg {
        width: 30px;

    }

    .linguagemHB {
        margin-bottom: -10px;
        margin-top: -13px;
        margin-right: 35px !important;

    }

    .texto p {
        font-size: 1.3em;
        width: 93%;
        margin-bottom: -50px;
        margin-top: -22px;
    }

    .texto h1 {
        font-size: 1.8em;
        margin-top: 45px;
    }

    .texto {
        font-size: 0.9em;
        width: 100%;
        height: 241px;
        margin-left: 0%;
    }

    .MeusiteTT h1 {
        font-size: 2.2em;
        padding: 21px 20px;

    }

    .imagem img {
        height: 240px;
    }

    body {
        background-image: url(../img/fundosegundario.png) !important;
        background-size: cover;
        background-attachment: fixed;
    }

    .modal-content {

        width: 50%;

    }

    .modal {

        height: 58%;

        margin: 102px 48px;
    }

    .meuFechar {
        top: 0px;
        right: 8px;
    }

    .fototxt {

        margin-top: 20px;

    }

    .meuModal {

        margin: 49px 45px;
    }

    .meuModal-content {
        max-width: 325px;
        max-height: 110%;
    }

    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .informacoes svg {
        width: 23%;
    }

    .informacoes a {
        margin: -3px;
        font-size: .9em;
        margin-top: -1px;
        width: 100%;
    }

    .Bem-vindo img:nth-child(1) {
        display: none;
    }

    .Bem-vindo img:nth-child(2) {
        display: block;
    }

    .Bem-vindo {
        height: 510px;
    }

    .Bem-vindo img {
        width: 90%;
        object-fit: cover;
        padding: 25px;
    }

    .minha-habilidade h1 {
        font-size: 2.5em;
        margin-top: 32px;
    }

    .card h1 {
        margin: 10px 0px;
        font-size: 1.6em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .card {

        width: 80%;
        height: 185px;
    }

    .card img {
        width: 60%;
    }

    .botaomodal {
        display: none;
    }

    .buttMeuSite button {
        width: 55%;
        margin-bottom: 7%;
    }

    .maps {
        display: none;
    }

    .linguagem svg {
        width: 60px;
        height: 83px;
        padding: 7px;

    }

    .imglog img {
        width: 170px;
    }
}

/* Para celular 455px */
@media (max-width: 455px) {
    .pagamento a:hover {
        font-size: 28px;
        border: 9px solid #ffffff;
    }


    .pagamento {
        width: 70%;
        margin-left: 17%;
    }

    .pagamento a {
        border: 8px solid #ffffff;
        padding: 17px;
        font-size: 27px;
    }

    body {
        background-image: url(../img/fundosegundario.png) !important;
        background-size: cover;
        background-attachment: fixed;
    }

    .modal-content {

        width: 50%;

    }

    .modal {

        height: 58%;

        margin: 102px 48px;
    }

    .meuFechar {
        top: 0px;
        right: 8px;
    }

    .fototxt {

        margin-top: 20px;

    }

    .meuModal {

        margin: 49px 45px;
    }

    .meuModal-content {
        max-width: 325px;
        max-height: 110%;
    }

    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .card h1 {
        margin: 5px 0px;
        font-size: 1.6em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .card {
        width: 80%;
        height: 160px;
    }
}

/* Para celular 440px */
@media (max-width: 440px) {
    .pagamento a {
        border: 7px solid #ffffff;
        padding: 15px;
        font-size: 25px;
    }

    .pagamento {
        width: 80%;
        margin-left: 22%;
        margin-top: -10px;
        margin-bottom: 24px;

    }

    .pagamento a:hover {
        font-size: 26px;
        border: 9px solid #ffffff;
    }

    .imgC img {
        margin-top: -11px;
        margin-bottom: 7px;
        margin-right: 40px;
    }

    .fototxt {

        margin-top: 25px;

    }

    .meuModal-content {
        max-width: 325px;
        max-height: 110%;
    }

    .meuFechar {
        top: 2px;
        right: 9px;
    }

    .meuModal {
        margin: 110px 29px;
        width: 86%;

    }

    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .botaomodal {

        display: none;
    }

    body {
        background-image: url(../img/fundosegundario.png) !important;
        background-size: cover;
        background-attachment: fixed;
    }

    .close {
        right: 11px;
    }

    .modal-content {
        width: 74%;

    }

    .modal {

        height: 55%;
        margin: 140px 39px;
    }

    .Bem-vindo img:nth-child(1) {
        display: none;
    }

    .Bem-vindo img:nth-child(2) {
        display: block;
    }

    .Bem-vindo {
        height: 433px;
    }

    .Bem-vindo img {
        width: 88%;
        object-fit: cover;
        padding: 25px;
    }


    .verWeb a {
        padding: 9px 25px;
        font-size: 0.9em;
        border-radius: 20px;
        margin-right: 45px;
    }

    .linguagemHB {
        margin-bottom: -17px;
        margin-top: -20px;
        margin-right: 35px !important;

    }

    .texto p {
        font-size: 1.3em;
        width: 93%;
        margin-bottom: -34px;
        margin-top: -22px;
    }

    .texto h1 {
        font-size: 1.8em;
        margin-top: 40px;
    }

    .linguagemHB svg {
        width: 34px;
        margin-top: -15px;
    }

    .texto {
        font-size: 0.9em;
        width: 100%;
        height: 241px;
        margin-left: 0%;
    }

    .imagem img {
        height: 240px;
    }

    .MeusiteTT h1 {
        font-size: 2.7em;
        padding: 0px 0px 35px;
    }

    .sair svg {
        margin-top: -26px;
        margin-left: -30px;
        width: 30px;
    }


    .imagemCard {
        margin-top: 15px;
    }

    .card a {
        padding: 5px;
        font-size: 1em;
    }

    .card {
        width: 80%;
        height: 170px;
    }

    .card img {
        width: 70%;
    }


    .card h1 {
        margin: 5px 0px;
        font-size: 1.6em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .buttMeuSite button {
        width: 45%;
        padding: 8px;
        font-size: 2em;
        margin-bottom: 8%;
    }

    .informacoes a {
        margin: -8px;
        font-size: .7em;
        margin-top: -1px;
        width: 100%;
    }

    .informacoes svg {
        width: 20%;
    }



    .imglog img {
        width: 160px;
    }

    .linguagem svg {
        width: 52px;
        height: 65px;
        padding: 7px;


    }

    .linguagem svg:hover {
        transform: scale(1.1);
        border-radius: 10px;

    }

    .minha-habilidade h1 {

        font-size: 2em;
    }

    .linguagem {
        margin: 30px 1%;
    }

    .maps {
        display: none;
    }

    .rodape {

        padding: 15px;

    }
}



/* Para celular 375px */
@media (max-width: 376px) {
    .pagamento a {
        border: 7px solid #ffffff;
        padding: 15px;
        font-size: 25px;
    }

    .pagamento {
        width: 80%;
        margin-left: 17%;
        margin-top: 40px;
        margin-bottom: 24px;
    }

    .pagamento a:hover {
        font-size: 26px;
        border: 9px solid #ffffff;
    }

    .imgC img {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .meuModal-content {

        max-width: 272px;
        justify-content: center;
    }

    .meuFechar {
        top: 0px;
        right: 8px;
    }

    .fototxt {
        margin-top: 20px;
        width: 83%;
    }

    .meuModal {
        width: 84%;
        height: 73%;
        margin: 52px 28px;
    }

    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .botaomodal {

        display: none;
    }

    .close {
        right: 15px;
    }

    .Bem-vindo img {
        width: 82%;
        object-fit: cover;
        padding: 32px;
    }

    .Bem-vindo {
        height: 383px;
    }

    .card a {
        border: 4px outset #2997ff;
        padding: 5px;
        font-size: 0.9em;
    }

    .imagemCard {
        margin-top: 14px;
    }

    .card {

        width: 75%;
        height: 140px;
    }

    .card h1 {
        margin: 2px 0px;
        font-size: 1.3em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .card img {
        width: 70%;
    }

    .sair svg {
        margin-top: -52px;
        margin-left: -24px;
        width: 21px;
        margin-bottom: -42px;
    }

    .minhasHB {
        padding: 0px;
    }

    .linguagemHB {
        margin-bottom: -5px;
        margin-top: -8px;
        margin-right: 0px !important;
    }

    .verWeb a {
        padding: 9px 25px;
        font-size: 0.9em;
        border-radius: 20px;
        margin-right: 0px !important;
    }

    .linguagemHB svg {
        color: #0276b4;
        width: 32px;
        margin-top: -15px;
    }

    .texto {
        height: 203px;
        gap: 2%;
    }

    .texto h1 {
        font-size: 1.4em;
        margin-top: 20px;
    }

    .texto p {
        font-size: 1em;
        width: 93%;
        margin: 0px !important;
    }

    .imagem img {
        width: 100%;
        height: 203px;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .MeusiteTT h1 {
        font-size: 1.9em;
        padding: 10px 16px;
    }

    .linguagem {
        margin: 19px 6px;
    }

    .linguagem svg:hover {
        transform: scale(1.1);
        border-radius: 10px;

    }

    .linguagem svg {
        width: 41px;
        height: 46px;
        padding: 9px;

    }

    .minha-habilidade h1 {
        margin-top: 2%;
        font-size: 1.9em;
    }




    .minhafoto {
        justify-content: center;
        margin-right: 0px;
    }

    .minhafoto img {
        margin-top: 20%;
        width: 50%;
        object-fit: cover;

    }

    .buttMeuSite {

        margin-top: -5%;
        padding: 14px 0px;
    }

    .buttMeuSite button {
        padding: 10px;
        width: 39%;
        font-size: 1.2em;

    }

    .minhasHB h1 {
        margin-top: 31px;

        font-size: 1.3em;
    }

    .linguagem {

        margin: 20px 40px;
    }

    .imglog img {
        width: 120px;
    }

    .informacoes a {
        margin: -14px;
        font-size: 0.9em;
        margin-top: -12px;
        width: 100%;
    }

    .informacoes svg {
        width: 17%;

    }

    .informacoes h4 {
        font-size: 1.6em;

    }

    .maps {
        display: none;
    }

    .foote1 h4 {
        font-size: 1.2em;
    }

    .footer2 h4 {
        font-size: 1.2em;
    }

    .rodape {

        padding: 20px;
    }
}

/* Para celular 320px */
@media (max-width: 325px) {
    .pagamento a {
        border: 7px solid #ffffff;
        padding: 15px;
        font-size: 25px;
    }

    .pagamento {
        width: 80%;
        margin-left: 12%;
        margin-top: 25px;
        margin-bottom: 24px;
    }

    .pagamento a:hover {
        font-size: 26px;
        border: 9px solid #ffffff;
    }

    .meuModal-content {
        width: 91%;
        max-width: 278px;
        max-height: 100%;
        margin-left: -8px;
    }

    .meuFechar {

        top: 0px;
        right: 9px;
    }

    .fototxt {
        margin-top: 20px;
        width: 80%;
        width: 100%;
    }

    .meuModal {
        width: 80%;
        height: 72%;
        margin: 60px 30px;
    }


    .fototxt img:nth-child(1) {
        display: none;
    }

    .fototxt img:nth-child(2) {
        display: block !important;
    }

    .botaomodal {

        display: none;
    }

    .modal-content {
        width: 77%;
        margin-top: 15px;
    }

    .modal {
        height: 45%;
        margin: 140px 29px;
    }

    .close {
        right: 8px;
        margin-top: -20px;
    }

    .Bem-vindo img {
        width: 80%;
        object-fit: cover;
        padding: 31px;
    }

    .Bem-vindo {
        height: 320px !important;
    }


    .imagemCard {
        margin-top: 11px;
    }

    .card a {
        border: 3px outset #2997ff;
        padding: 5px;
        font-size: 0.7em;
    }

    .card {
        width: 100%;
        height: 110px;
    }

    .card img {
        width: 65%;
    }

    .card h1 {
        margin: 4px 0px;
        font-size: 1.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .box {
        padding: 15px;
        margin: 5% 0px 0%;
        justify-content: center;
        display: flex;
    }

    .minha-habilidade h1 {
        font-size: 1.3em;
    }

    .logoimg img {
        width: 55%;
        object-fit: cover;
    }

    .logoimg {

        padding: 15px;
    }

    .txtlogo {

        padding: 0px;
    }

    .sobremimFT img {
        width: 60%;
        object-fit: cover;
    }

    .sobremimTXT h2 {
        font-size: 0.8em;
        padding: 7px 0px;
        text-align: center;
        color: #0276b4;
    }

    .sobremimFT {
        display: flex;
        padding: 7px;
    }

    .minha-habilidade h1 {
        margin-top: 7%;
    }

    .topo {
        padding: 14px;
        width: 90%;
    }

    .sair svg {
        margin-left: -23px;
        width: 22px;
        margin-bottom: -22%;
    }

    .imagem img {
        width: 111%;
        height: 198px;
        margin-left: 0%;
        margin-bottom: 25px;
        object-fit: cover !important;
    }

    .linguagem svg {
        width: 32px !important;
        height: 34px !important;
        padding: 8px !important;
    }

    .linguagem svg:hover {
        transform: scale(1.1);
        border-radius: 7px;
    }

    .texto {
        font-size: 0.6em;
        width: 111%;
        height: 198px;
        margin-left: -5%;
    }

    .MeusiteTT h1 {
        font-size: 1.5em;
        padding: 20px 0px;

    }

    .linguagemHB svg {
        width: 25px;
    }

    .linguagemHB {
        margin-right: 0px !important;
        margin-bottom: -10px;
    }

    .texto p {
        font-size: 1.5em;
        margin-bottom: -1%;
    }

    .verWeb a {
        padding: 7px 26px;
        margin: 0px !important;
    }

    .texto h1 {
        font-size: 2.1em;
        margin-bottom: 1% !important;
        margin-top: -5px;
    }

    .imgC img {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .buttMeuSite {
        padding: 9px 0px;

    }

    .buttMeuSite button {
        width: 42%;
        padding: 7px;
        font-size: 1.1em;

    }

    .minhafoto {
        justify-content: center;
        margin-right: 0px;
    }

    .minhafoto img {
        margin-top: 35%;
        width: 50%;
        object-fit: cover;

    }

    .maps {
        display: none;
    }

    .minhasHB {
        padding: 0px;
        margin-bottom: 0%;
    }


    .minhasHB h1 {
        font-size: 1.2em;
        margin-top: 25px;
    }


    .linguagem {
        margin: 0px 10px 30px 10px;
        margin-top: 20px;
    }

    .jquery img {
        display: none;
    }

    .informacoes a {
        margin: -19px;
        font-size: 0.7em;
        margin-top: -5px;
        width: 100%;
    }

    .informacoes h4 {
        font-size: 1.5em;

    }

    .maps {
        display: none;
    }

    .imglog img {
        width: 120px;
    }

    .rodape {

        padding: 10px;

    }

    .informacoes svg {
        width: 15%;

    }

    .foote1 h4 {
        font-size: 0.9em;
    }

    .footer2 h4 {

        font-size: 0.9em;

    }

}