/* Para celular 375px */
@media (max-width: 376px) {
    .sair svg {
        margin-top: -52px;
        margin-left: -24px;
        width: 21px;
        margin-bottom: -42px;
    }

    .minhasHB {
        padding: 0px;
    }

    .linguagemHB {
        margin-bottom: -30px;
        margin-top: -10px;
    }

    .verWeb a {
        padding: 9px 25px;
        font-size: 0.3em;
        border-radius: 20px;
    }

    .linguagemHB svg {
        color: #0276b4;
        width: 32px;
        margin-top: -15px;
    }

    .texto {
        height: 203px;
        gap: 2%;
    }

    .texto h1 {
        font-size: 0.9em;
        margin-top: 28px;
    }

    .texto p {
        font-size: 0.6em;
        width: 98%;
    }

    .imagem img {
        width: 100%;
        height: 203px;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .MeusiteTT h1 {
        font-size: 1.9em;
        padding: 10px 16px;
    }

    .linguagem {
        margin: 19px 6px;
    }

    .linguagem svg:hover {
        transform: scale(1.1);
        border-radius: 10px;

    }

    .linguagem svg {
        width: 41px;
        height: 46px;
        padding: 9px;

    }

    .minha-habilidade h1 {
        margin-top: 2%;
        font-size: 1.9em;
    }

 

    .Bem-vindo img {
        display: none !important;

    }


    .minhafoto {
        justify-content: center;
        margin-right: 0px;
    }

    .minhafoto img {
        margin-top: 20%;
        width: 50%;
        object-fit: cover;

    }

    .buttMeuSite {

        margin-top: -10%;
        padding: 50px 0px;
    }

    .buttMeuSite button {
        padding: 10px;
        width: 39%;
        font-size: 1.2em;

    }

    .minhasHB h1 {
        margin-top: 31px;

        font-size: 1.3em;
    }

    .linguagem {

        margin: 20px 40px;
    }

    .imglog img {
        width: 120px;
    }

    .informacoes a {
        margin: -14px;
        font-size: 0.9em;
        margin-top: -12px;
        width: 100%;
    }

    .informacoes svg {
        width: 17%;

    }

    .informacoes h4 {
        font-size: 1.6em;

    }

    .maps {
        display: none;
    }

    .foote1 h4 {
        font-size: 1.2em;
    }

    .footer2 h4 {
        font-size: 1.2em;
    }

    .rodape {

        padding: 20px;
    }
}

/* Para celular 320px */
@media (max-width: 320px) {


    .minha-habilidade h1 {
        font-size: 1.3em;
    }

    .logoimg img {
        width: 55%;
        object-fit: cover;
    }

    .logoimg {

        padding: 15px;
    }

    .txtlogo {

        padding: 0px;
    }

    .sobremimFT img {
        width: 60%;
        object-fit: cover;
    }

    .sobremimTXT h2 {
        font-size: 0.8em;
        padding: 7px 0px;
        text-align: center;
        color: #0276b4;
    }

    .sobremimFT {
        display: flex;
        padding: 7px;
    }

    .minha-habilidade h1 {
        margin-top: 7%;
    }

    .topo {
        padding: 14px;
        width: 90%;
    }

    .sair svg {
        margin-left: -23px;
        width: 22px;
        margin-bottom: -22%;
    }

    .imagem img {
        width: 111%;
        height: 198px;
        margin-left: -5%;
        margin-bottom: 25px;
        object-fit: cover !important;
    }

    .linguagem svg {
        width: 32px !important;
        height: 34px !important;
        padding: 8px !important;
    }

    .linguagem svg:hover {
        transform: scale(1.1);
        border-radius: 7px;
    }

    .texto {
        font-size: 0.6em;
        width: 111%;
        height: 198px;
        margin-left: -5%;
    }

    .MeusiteTT h1 {
        font-size: 1.5em;
        padding: 20px 0px;

    }

    .linguagemHB svg {
        width: 25px;
    }

    .linguagemHB {

        margin-bottom: -10px;
    }

    .texto p {
        font-size: 1.4em;
        margin-bottom: -15%;
    }

    .verWeb a {
        padding: 7px 26px;
    }

    .texto h1 {
        font-size: 2.1em;
        margin-bottom: -2%;
    }



    .buttMeuSite {
        padding: 9px 0px;

    }

    .buttMeuSite button {
        width: 42%;
        padding: 7px;
        font-size: 1.1em;

    }

    .minhafoto {
        justify-content: center;
        margin-right: 0px;
    }

    .minhafoto img {
        margin-top: 35%;
        width: 50%;
        object-fit: cover;

    }

    .maps {
        display: none;
    }

    .minhasHB {
        padding: 0px;
        margin-bottom: 0%;
    }



    .minhasHB h1 {
        font-size: 1.2em;
        margin-top: 25px;
    }

    .Bem-vindo img {
        display: none !important;

    }

    .linguagem {
        margin: 0px 0px 30px 10px;
        margin-top: 20px;
    }

    .jquery img {
        display: none;
    }

    .informacoes a {
        margin: -19px;
        font-size: 0.7em;
        margin-top: -5px;
        width: 100%;
    }

    .informacoes h4 {
        font-size: 1.5em;

    }

    .maps {
        display: none;
    }

    .imglog img {
        width: 120px;
    }

    .rodape {

        padding: 10px;

    }

    .informacoes svg {
        width: 15%;

    }

    .foote1 h4 {
        font-size: 0.9em;
    }

    .footer2 h4 {

        font-size: 0.9em;

    }

}